.SlideCard {
  box-sizing: border-box;
}

.SlideCard-card {
  margin: 8px;
  cursor: pointer;
  color: #444;
  background: white;
  /* 200px が基準 */
  width: 184px;
  height: 103px;
}

.SlideCard-nocontent {
  text-align: center;
  line-height: 51px;
  color: #ccc;
  font-weight: 100;
}

.SlideCard-card-highlight {
  border-color: #1890ff;
  border-width: 2px;
}
