.PaintCanvas {
	position: relative;
	overflow: hidden;
	margin-top: 6px;
	border: 1px solid #aaa;
	resize: both;
	box-sizing: content-box;
}

#PaintCanvas-main {
	position: relative;
	z-index: 1;
	border: 1px solid #ccc;
	zoom: 0.6; /* 描画座標に関係あるので注意 */
}
#PaintCanvas-hidden {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
