.PaintToolBar-button {
	display: inline-block;
	margin-right: 8px;
	margin-left: 8px;
}

.PaintToolBar-message {
	display: inline-block;
	position: relative;
	font-size: 0.9em;
	height: 36px;
	color: #e27171;
}

.PaintToolBar-message-inner {
	position: absolute;
	bottom: 3px;
}
